<html>
<head>
    <title>Let's Play With Tamagotchis</title>
</head>
<body>
    <h1>You created a Tamagotchi!</h1>
    <p>Name: {{ newtamagotchi.getName }}</p>
    <p>Amount of Food: {{ newtamagotchi.getFood }}</p>
    <p>Amount of Love: {{ newtamagotchi.getLove }}</p>
    <p>Sleeping? {{ newtamagotchi.getSleep }}</p>
    <p>Amount of Sleep: {{ newtamagotchi.getAmtSleep }}</p>
    <p><a href='/'>View your list of things to do.</a></p>
</body>
</html>
