<html>
<head>
    <title>Let's Play With Tamagotchis</title>
</head>
<body>
    <!-- <h1>You created a Tamagotchi!</h1> -->
    <h1> {{ message }}</h1>
    <p>Name: {{ newtamagotchi.getName }}</p>
    <p>Amount of Food: {{ newtamagotchi.getFood }}</p>
    <p>Amount of Love: {{ newtamagotchi.getLove }}</p>
    {% if newtamagotchi.getSleep == 0 %}
        <p>Sleeping? No</p>
    {% elseif newtamagotchi.getSleep == 1 %}
        <p>Sleeping? Yes</p>
    {% endif %}
    <p>Amount of Sleep: {{ newtamagotchi.getAmtSleep }}</p>
    <form action="/sleep" method="post">
        <button type="submit" id="sleep">Sleep Tamagotchi</button>
    </form>
    <form action="/wake" method="post">
        <button type="submit" id="wake">Wake Tamagotchi</button>
    </form>
    <p><a href='/'>View your list of Tamagotchis.</a></p>
</body>
</html>
